In [38]:
fruits =['apple','pineapple','banana','lichi']
type(fruits)

list

In [39]:
random =['abc',3456,34.45,True,type,print]

In [40]:
fruits[1]

'pineapple'

In [41]:
fruits[-2]

'banana'

In [42]:
fruits[1:2]

['pineapple']

In [43]:
fruits[1]

'pineapple'

In [44]:
a =[1,2,[3,4,[5,6]]]
a[2]

[3, 4, [5, 6]]

In [45]:
fruits.append('grapes')
fruits.append('grapes')

In [46]:
fruits

['apple', 'pineapple', 'banana', 'lichi', 'grapes', 'grapes']

In [47]:
fruits.count('grapes')

2

In [48]:
name ="Ayushi Mishra"
vowels =[]
for i in 'aeiou':
    c = name.count(i)
    vowels.append(c)
    print(f'{i} :{c}')

a :1
e :0
i :2
o :0
u :1

In [49]:
vowels

[1, 0, 2, 0, 1]

In [50]:
hobby ='Coding & Gaming'

In [51]:
f'my name is{name} and my hobby is{hobby}'

'my name isAyushi Mishra and my hobby isCoding & Gaming'

In [52]:
vegies =['potato', 'tomato', 'ladyfinger']

In [53]:
fruits.extend(vegies)

In [54]:
fruits

['apple',
 'pineapple',
 'banana',
 'lichi',
 'grapes',
 'grapes',
 'potato',
 'tomato',
 'ladyfinger']

In [55]:
fruits.insert(1,'mango')

In [56]:
fruits

['apple',
 'mango',
 'pineapple',
 'banana',
 'lichi',
 'grapes',
 'grapes',
 'potato',
 'tomato',
 'ladyfinger']

In [57]:
fruits.index('mango')

1

In [58]:
fruits.pop()

'ladyfinger'

In [59]:
fruits

['apple',
 'mango',
 'pineapple',
 'banana',
 'lichi',
 'grapes',
 'grapes',
 'potato',
 'tomato']

In [60]:
fruits.remove('lichi')

In [61]:
fruits.sort(reverse=True)

In [62]:
fruits

['tomato',
 'potato',
 'pineapple',
 'mango',
 'grapes',
 'grapes',
 'banana',
 'apple']

In [63]:
fruits.reverse()

In [64]:
#WAP to take your 5 freinds names and append them in a list 
friends = []
for i in range(5): 
    name = input ("enter name :")
    friends.append(name)
print(friends)

['naya', 'fchjttf', 'bhgytgkj', 'jhfgb', 'hjtyth']

In [65]:
# WAP to find the no. of words in a sentence
# WAP to take 5 movies as input in a loop and then take ratings using another loop.
# WAP to remove the element given by user from a existing list.
# WAP replace the given element from a list

In [8]:
# WAP to find the no. of words in a sentence
sentence = input("write a sentence")
print(sentence)
words =len(sentence.split())
print("The no. of words in string are: "+str(words))

I need copy and pen
The no. of words in string are: 5

In [30]:
# WAP to take 5 movies as input in a loop and then take ratings using another loop.
movies = []
movie_ratings = []
 
for i in range (5):
    name = input("rnter movie name :")
    movies.append(name)
    
for i in movies:
    rating = input(f' enter rating for movie {i} : ')
    movie_ratings.append(rating)

In [31]:
movies

['F&F 1', 'F&F 2', 'F&F 3', 'F&F 4', 'F&F 5']

In [32]:
movie_ratings

['2.9', '7.5', '7.8', '8.6', '4.5']

In [34]:
# WAP to remove the element given by user from a existing list.
m = input('enter movie to remove')

mi = movies.index(m)
movies.remove(m)
# movie_ratings.remove(movie_ratings[mi])
movie_ratings = movie_ratings[:mi] + movie_ratings[mi+1:]

In [44]:
movies

['F&F 1', 'F&F 2', 'F&F 3', 'F&F 5']

In [45]:
movie_ratings

['2.9', '7.5', '7.8', '4.5']

In [39]:
# WAP to remove the element given by user from a existing list.
list = ['345','847','673','876','983']
list.remove('847')
print(list)

['345', '673', '876', '983']

In [43]:
# WAP replace the given element from a list.
list[2] = 997
print(list)

['345', '673', 997, '983']

In [13]:
# clean all prices in [ '$34.24/-', '$82.41/-', '$94.99/-' ] and store in a list.
prices = ['$34.24/-', '$82.41/-', '$94.99/-']

In [14]:
prices

['$34.24/-', '$82.41/-', '$94.99/-']

In [15]:
for i in prices :

IndentationError: expected an indented block (Temp/ipykernel_11724/2211698768.py, line 2)